.u-mobile__wrapper {
    padding-bottom: 44px ;
}
.u-swiper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
    padding: 0px 20px;
}
.u-swiper-slide {
    position: relative;
    padding-top: 200px;
    margin-bottom: 27px;
}
.u-mobile__img-1,
.u-mobile__img-2,
.u-mobile__img-3,
.u-mobile__img-4 {
    position: absolute;
    left: 0px;  
}
.u-mobile__img-1{
    top: 40px;
}
.u-mobile__img-2{
    top: 40px;
}
.u-mobile__img-3{
    top: 20px;
}
.u-mobile__img-4{
    top: 100px;
}
.u-mobile__text {
    background: #FFFFFF;
    border: 6px solid #E1ECFF;
    border-radius: 15px;
    padding: 26px 20px 18px 25px;

    text-align: left;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
.u-swiper-button-prev,
.u-swiper-button-next{
    position: absolute;
    top: 150px;
    z-index: 5;
    cursor: pointer;
}
.u-swiper-button-prev {
    left: 0px;
    transform: rotate(180deg);
}
.u-swiper-button-next {
    right: 0px;
}

@media (min-width: 951px) {
    .u-mobile__wrapper {
        display: none;
    }
}
@media (max-width: 600px) {
    .u-mobile__wrapper{
        margin-top: -25px;
    }
    .u-mobile__img-3{
        top: 30px;
    }
}
@media (max-width: 500px) {
    .transition{
        display: block;
    }
    .u-mobile__img-4{
        top: 110px;
    }
    .u-mobile__img-3{
        top: 80px;
    }
    .u-mobile__img-2{
        top: 45px;
    }
    .u-mobile__img-1{
        top: 45px;
    }
}
@media (max-width: 450px) {
    .u-mobile__img-4{
        top: 110px;
    }
    .u-mobile__img-3{
        top: 80px;
    }
    .u-mobile__img-2{
        top: 45px;
    }
    .u-mobile__img-1{
        top: 45px;
    }
}
@media (max-width: 400px) {
    .u-mobile__img-4{
        top: 130px;
    }
    .u-mobile__img-3{
        top: 95px;
    }
    .u-mobile__img-2{
        top: 60px;
    }
    .u-mobile__img-1{
        top: 60px;
    }
}
@media (max-width: 375px) {
    .u-mobile__img-4{
        top: 130px;
    }
    .u-mobile__img-3{
        top: 105px;
    }
    .u-mobile__img-2{
        top: 75px;
    }
    .u-mobile__img-1{
        top: 75px;
    }
}